server {

    listen 80 default_server;

    server_name {{ item.name }};
    root {{ item.root }};
    index index.html

    server_tokens off;
    charset utf-8;

    location / {
        try_files $uri $uri/ =404;

        }

    }
